
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #0A0909;
}

body {
    background-color: #f8fafb;
    /* background-color: #fcfbfd; */
    overflow-x: hidden ; /*evita la aparición de barras de desplazamiento horizontales */
}

.header {
    height: 100vh;
    width: 100%;
}

.navbar { padding: 35px 28px !important; }

.logo { font-weight: 600; }

.unach { color: #4461F2; }

.nav-item { margin: 0px 20px; }

.btn-navbar {
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.1);


    display: inline-block;
    padding: 6px 33px;
    border: 1px solid white;
    border-radius: 20px;
    color: #0A0909;

    font-size: 15px; font-weight: bold;
    background-color: white;
    box-shadow: 10px;


    
}

.nav-item .nav-link {
    color: #0A0909; font-size: 15px; font-weight: bold;
}

.btn-navbar:hover {
    box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.3);
    color: #4461F2;
    text-decoration: none;

}

/* SECCION DE INICIO  */

.content-home2 {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* padding-top: 100px; */
    /* padding-top: 10px; */

}

/* Titulo de bienvenida */
.home-heading{
    font-size: 65px;
    font-weight: bold;
    line-height: 90px;
    color: #0A0909;
}

/* Contenedor del parrafo y el boton empezar */
.box-container {
    padding-top: 70px;
}


/* 
.container{
    margin-left: 60px;
} */

.home-para {
    font-size: 15px;
    font-weight: bold;
    /* Top - right - Bottom - left */
    padding: 30px 0px 50px 0px;
    /* line-height: 25px; */
}

.home-span, .para-span { color: #4461F2; }

/* .home-links {
    display: inline-block;
    border-radius: 30px;
    padding: 10px 30px;
    color: #4461F2;
    font-weight: bold;
    border: 1px solid #4461F2;
    background-color: white;
}

.home-links:hover{
    text-decoration: none;
    background-color: #4461F2;
    color: white;
} */

.home-links {
    transition: box-shadow 0.3s ease;


    display: inline-block;
    border-radius: 30px;
    padding: 10px 30px;
    color: white;
    font-weight: bold;
    background-color: #4461F2;
}

.home-links:hover{
    text-decoration: none;
    background-color: #4461F2;
    color: white;
    box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.3);

}

/* Contenedor donde esta la imagen */

.box-container2{ padding-top: 30px;}

.img-home {
    width: 600px;
    height: 600px;
}